body {
    background: #660000;
    color: #000;
}

.well {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.navbar .nav>li>a {
    height: 50px;
    padding: 15px 15px;
}

.nav-tabs {
    background-color: #eee;
}

.nav-tabs>li>a {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.data {
    border: 1px solid #000;
    background: #fff;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    margin-top: 10px;
}
table.data{
    width: 100%;
}

a {
    color: #000;
    font-weight: bold;
}

#compare, #compareAll, #overview, #overviewAll, #teamData, #sumTeamData,
#stats, #wins, #results, #goalDifferences, #gspm, #all,
#results1, #results2, #results3, #results4, #results5 {
    background: #ccc;
    font-size: 11px;
}

#legend {
    color: #660000;
    font-weight: bold;
    font-size: 12px;
}
#header {
    font-size: 14px;
    color: #000;
}

#InitializeData {
    display: none;
}